#button {
    position: relative;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    color: var(--text-color);

    span {
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: var(--text-color);
            transition: all 0.2s;
        }
    }

    & > span {
        &::before {
            width: 0%;
            height: var(--width);
            top: 0px;
            left: 0px;
        }

        & > span {
            &::before {
                width: var(--width);
                height: 0%;
                bottom: 0px;
                left: 0px;
            }

            & > span {
                &::before {
                    width: var(--width);
                    height: 0%;
                    top: 0px;
                    right: 0px;
                }

                & > span {
                    &::before {
                        width: 0%;
                        height: var(--width);
                        bottom: 0px;
                        right: 0px;
                    }
                }
            }
        }
    }

    &:hover > span {
        &::before {
            width: 100%;
        }

        & > span {
            &::before {
                height: 100%;
            }

            & > span {
                &::before {
                    height: 100%;
                }

                & > span {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}
