#header {
    width: 100vw;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    user-select: none;
    position: relative;
    z-index: 10;

    &.float {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #logo {
        flex-shrink: 0;
        margin: 1.5em;
        margin-left: 2em;
        margin-right: 1em;
        height: calc(100% - 3em);
        position: relative;
        top: -0.2em;
    }

    nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

        & > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            & > li {
                margin-right: 1.5em;

                &:last-child {
                    margin-right: 0;
                }

                &.bold {
                    font-weight: 700;
                }
            }
        }
        
        .button {
            position: relative;
            padding: 5px;
            display: inline-block;
            cursor: pointer;
            color: var(--text-color);

            span {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: var(--text-color);
                    transition: all 0.2s;
                }
            }

            & > span {
                &::before {
                    width: 0%;
                    height: var(--width);
                    top: 0px;
                    left: 0px;
                }

                & > span {
                    &::before {
                        width: var(--width);
                        height: 0%;
                        bottom: 0px;
                        left: 0px;
                    }

                    & > span {
                        &::before {
                            width: var(--width);
                            height: 0%;
                            top: 0px;
                            right: 0px;
                        }

                        & > span {
                            &::before {
                                width: 0%;
                                height: var(--width);
                                bottom: 0px;
                                right: 0px;
                            }
                        }
                    }
                }
            }

            &:hover > span {
                &::before {
                    width: 100%;
                }

                & > span {
                    &::before {
                        height: 100%;
                    }

                    & > span {
                        &::before {
                            height: 100%;
                        }

                        & > span {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #links {
            margin-left: 1em;
        }

        #actions {
            margin-right: 2em;
        }
    }
}
