:global(.breadcrumbs) {
    display: flex;
    align-items: center;
    
    i {
        color: var(--secondary-subject-text-color);
        font-size: inherit;
        margin: 0px 5px;
    }
    
    :global(.crumb) {
        a, span {
            color: var(--secondary-subject-text-color);
        }
    }
}
