.content-box {
    border: 1.5px solid var(--border-color);
    transition: border 0.3s;
    border-radius: 8px;
    padding: 1rem;
    max-width: 45em;
    
    &:hover {
        border: 1.5px solid var(--color);
    }
    
    h1 {
        font-size: 16pt;
        margin-bottom: 0.25em;
    }
    
    p {
        color: var(--secondary-text-color);
    }
}
