.content-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    
    .info-section {
        flex-basis: 25rem;
        background: var(--subject-background-color);
        transition: background 0.5s;
        padding: 2rem;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p {
            color: var(--subject-text-color);
        }
        
        .breadcrumbs {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }
        
        .info {
            .type {
                text-transform: uppercase;
                font-size: 14pt;
                font-weight: 900;
                opacity: 0.6;
            }
            
            .title {
                font-size: 30pt;
                margin-bottom: 0.3em;
                color: var(--subject-title-color);
            }
            
            .description {
                font-size: 12pt;
            }
        }
    }
    
    .content-section {
        flex-basis: 0px;
        flex-grow: 1;
    }
}
