.dropdown {
    transition: all 0.2s;
    user-select: none;
    outline: none;
    
    .visible {
        border-radius: 5px;
        box-shadow: inset 0px 0px 0px 1px var(--border-color); // Border which doesn't take up space
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        font-weight: 700;
        cursor: pointer;
        transition: border-radius 0.2s, border 0.5s;
        
        &:hover, &:focus {
            box-shadow: inset 0px 0px 0px 1px var(--border-hover-color);
        }
        
        i {
            position: relative;
            left: 5px;
            transition: transform 0.2s, color 0.5s;
            font-size: inherit;
        }
    }
    
    .items {
        max-height: 200px;
        width: 25rem;
        overflow: auto;
        background: white;
        position: relative;
        z-index: 3;
        box-sizing: border-box;
        border-radius: 0px 5px 5px 5px;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        
        &:hover {
            box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
        }
        
        .bold * {
            font-weight: 700;
        }
    }
    
    .items > div {
        transition: all 0.2s;
    }
    
    &.open {
        z-index: 3;
    }
    
    &.open .visible {
        border-radius: 5px 5px 0px 0px;
    }
    
    &.mini {
        position: relative;
        
        .visible {
            box-shadow: none;
            border-radius: 0px;
            font-size: 10pt;
            padding: 0px;
            font-weight: 400;
            
            i {
                margin: 0px;
            }
        }
        
        .items {
            position: absolute;
        }
        
        &.open .items {
            position: relative;
            left: -10px;
            top: 5px;
            max-height: 200px;
            overflow: auto;
            border-radius: 0px;
            box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
            
            &:hover {
                box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
            }
            
            .item {
                font-size: 10pt;
                padding: 5px 10px;
                padding-right: 1rem;
            }
        }
    }
}

.item {
    font-size: 12pt;
    font-weight: 400;
    margin: 1px;
    padding: 10px 20px;
    transition: all 0.2s;
    white-space: nowrap;
    color: black;
    cursor: pointer;
    
    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
