.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-background-color);
    transition: background 0.5s;
    user-select: none;
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    
    &.float {
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
    }
    
    #logo {
        flex-shrink: 0;
        margin: 1.5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        height: calc(100% - 3rem);
        position: relative;
        top: -0.2rem;
    }
    
    nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            
            & > li {
                margin-right: 1.5rem;
                
                &:last-child {
                    margin-right: 0;
                }
                
                &.bold {
                    font-weight: 700;
                }
            }
        }
        
        #links {
            margin-left: 1rem;
        }
        
        #right-buttons {
            margin-right: 2rem;
            display: flex;
            align-items: center;
            
            & > *:not(:last-child) {
                margin-right: 1rem;
            }
            
            #user {
                position: relative;
                margin-right: -10px;
                outline: none;
                transition: background 0.2s;
                cursor: pointer;
                
                &:hover, &:focus {
                    background: var(--background-hover-color);
                }
                
                & > div:first-child {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                }
                
                .check {
                    transition: opacity 0.5s;
                    opacity: 0;
                    
                    &.active {
                        opacity: 1;
                    }
                }
                
                #user-panel-container {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    width: 0px;
                    height: 0px;
                    overflow: hidden;
                    opacity: 0;
                    transition: opacity 0.3s;
                    
                    &.open {
                        overflow: visible;
                        opacity: 1;
                    }
                    
                    .user-panel {
                        position: absolute;
                        top: -1px;
                        right: 0px;
                        background: white;
                        border: 1px solid var(--secondary-border-color);
                        white-space: nowrap;
                        
                        table {
                            border: none;
                            border-collapse: collapse;
                            
                            tr {
                                transition: background 0.2s;
                                
                                &:hover {
                                    background: rgba(0, 0, 0, 0.05);
                                }
                                
                                td {
                                    padding: 0.8rem 1rem;
                                    border: none;
                                    
                                    a, p, i {
                                        text-decoration: none;
                                        font-size: 11pt;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
                
                & > div > i {
                    margin-left: 5px;
                    color: var(--text-color);
                    transition: color 0.5s;
                }
            }
        }
    }
    
    .button {
        position: relative;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        
        span {
            &::before {
                content: '';
                display: block;
                position: absolute;
                transition: all 0.2s;
                background: var(--text-color);
            }
        }
        
        & > span {
            &::before {
                width: 0%;
                height: var(--width);
                top: 0px;
                left: 0px;
            }
            
            & > span {
                &::before {
                    width: var(--width);
                    height: 0%;
                    bottom: 0px;
                    left: 0px;
                }
                
                & > span {
                    &::before {
                        width: var(--width);
                        height: 0%;
                        top: 0px;
                        right: 0px;
                    }
                    
                    & > span {
                        &::before {
                            width: 0%;
                            height: var(--width);
                            bottom: 0px;
                            right: 0px;
                        }
                    }
                }
            }
        }
        
        &:hover > span {
            &::before {
                width: 100%;
            }
            
            & > span {
                &::before {
                    height: 100%;
                }
                
                & > span {
                    &::before {
                        height: 100%;
                    }
                    
                    & > span {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
