#layout {
    display: flex;
    flex-direction: column;
    
    #secondary-logo {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1.5rem;
        opacity: 0.2;
    }
}
