.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--background-color);
    transition: background 0.5s;
    
    #secondary-logo {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1.5rem;
        opacity: 0.2;
    }
    
    #container {
        flex-basis: 0px;
        flex-grow: 1;
        overflow: auto;
    }
    
    .err-404 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
