.loading {
    width: 100%;
    position: relative;
    
    .spinner {
        width: 2rem;
        height: 2rem;
        border: 5px solid var(--text-color);
        border-right-color: transparent;
        border-radius: 100rem;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

@keyframes spinner-animation {
    from {
        transform: translate(-50%, 50%) rotate(0deg);
    }
    
    to {
        transform: translate(-50%, 50%) rotate(360deg);
    }
}
