@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|B612');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --text-color: #000;
    --secondary-text-color: #666;
    --tertiary-text-color: #999;
    --border-color: rgba(0, 0, 0, 0.3);
    --border-hover-color: rgba(0, 0, 0, 0.6);
    --secondary-border-color: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

button, input {
    font-family: 'Lato', sans-serif;
}

p, a, span, h1, h2, h3, h4, h5, h6, input, textarea, button, label {
    margin: 0;
    color: var(--text-color);
}

p, a, span, h1, h2, h3, h4, h5, h6, label {
    transition: color 0.5s;
}

::selection {
    background: var(--text-color);
    color: var(--background-color);
}

a {
    cursor: pointer;
}

i:global(.material-icons) {
    font-size: 120%;
    user-select: none;
}

input, textarea {
    padding: 10px;
    font-size: 12pt;
    border: 1px solid var(--border-color);
    background: var(--secondary-background-color);
    transition: background 0.5s, border 0.5s;
    border-radius: 5px;
    outline: none;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border: 1px solid #0478f1;
    box-shadow: 0px 0px 2px 0px #0478f1;
}

button, input[type='submit'] {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 12pt;
    border: 1px solid var(--border-color);
    background: transparent;
    border-radius: 5px;
    transition: transform 0.2s, border 0.5s, color 0.5s;
    user-select: none;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.03);
    }
    
    &:active {
        background: rgba(0, 0, 0, 0.1);
    }
    
    &:global(.low) {
        background: #1691ea;
        color: white;
        border: none;
        
        &:active {
            background: #1367be;
        }
    }
    
    &:global(.med) {
        background: #e8e857;
        color: black;
        border: 1px solid #acac15;
        
        &:active {
            background: #b5b52b;
        }
    }
    
    &:global(.high) {
        background: #cb6055;
        color: white;
        border: none;
        
        &:active {
            background: #983e35;
        }
    }
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    padding: 0px;
    background: transparent;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    &::after {
        content: '\2714';
        font-family: 'B612', sans-serif;
        font-size: 80%;
        position: relative;
        top: -39%;
        left: 9%;
        opacity: 0;
        transition: opacity 0.1s, color 0.5s;
    }

    &:checked {
        background: rgba(0, 0, 0, 0.05);

        &::after {
            opacity: 1;
        }
    }
}

label {
    cursor: text;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
    justify-items: stretch;
    justify-content: stretch;
    
    h1 {
        font-weight: 700;
        font-size: 18pt;
    }

    :global(.error) {
        font-size: 12pt;
        background: #e25353;
        height: 0px;
        margin-top: 0.5rem;
        border-radius: 5px;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        transition: all 0.3s;

        &:global(.shown) {
            height: auto;
            padding: 10px;
        }

        a, p, span, i {
            color: white;
        }

        i {
            font-size: 14pt;
            cursor: pointer;
        }
    }
    
    :global(.form-field) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        & > input, & > textarea {
            margin-top: 5px;
        }
    }
    
    label {
        font-size: 10pt;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--secondary-text-color);

        &:global(.form-required)::after {
            content: ' *';
            color: red;
        }
    }
    
    :global(.form-label) {
        display: flex;
        justify-content: space-between;
        
        :global(.form-label-error) {
            font-size: 10pt;
            color: #e25353;
        }
    }

    input:global(.form-invalid), textarea:global(.form-invalid) {
        border: 1px solid #e25353;
    }

    :global(.password-strength) {
        width: 100%;
        height: 5px;
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 5px;
        overflow: hidden;
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
        transition: clip-path 0.2s;

        div {
            flex-grow: 1;
            transition: background 0.2s;

            &:not(:last-child) {
                margin-right: 2px;
            }
        }

        &:global(.strength-0):not(:global(.password-strength-empty)) {
            clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
        }

        &:global(.strength-1) {
            clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
        }

        &:global(.strength-2) {
            clip-path: polygon(0 0, 60% 0, 60% 100%, 0% 100%);
        }

        &:global(.strength-3) {
            clip-path: polygon(0 0, 80% 0, 80% 100%, 0% 100%);
        }

        &:global(.strength-4) {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        &:global(.strength-0) div {
            background: #e34c4c;
        }

        &:global(.strength-1) div {
            background: #e3a94c;
        }

        &:global(.strength-2) div {
            background: #e8ec1c;
        }

        &:global(.strength-3) div {
            background: #b9db23;
        }

        &:global(.strength-4) div {
            background: #69cb38;
        }
    }
}
