.log-in {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        border-radius: 10px;
        padding: 2rem;
        
        &:global(.light) {
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        }
        
        &:global(.dark) {
            border: 1px solid var(--border-color);
        }
        
        input[type='email'], input[type='password'] {
            width: 20rem;
        }
        
        #forgot-password {
            color: var(--tertiary-text-color);
            font-style: italic;
            text-decoration: underline;
            font-size: 10pt;
            transition: color 0.2s;
            cursor: pointer;
            
            &:hover {
                color: var(--secondary-text-color);
            }
        }
        
        #stay-logged-in {
            margin-left: 5px;
        }
    }
}
