#container {
    width: 60vw;
    max-width: 75rem;
    margin: 1rem auto;
    
    h1 {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .box {
        border: 1.5px solid var(--border-color);
        border-radius: 5px;
        margin: 1rem 0px;
        padding: 2rem;
        position: relative;
        transition: border 0.5s;
        
        .box-header {
            position: absolute;
            top: -1.25em;
            left: 1.5rem;
            padding: 0.5em;
            transition: 0.5s;
            background: var(--background-color);
            font-weight: 700;
            color: var(--secondary-text-color);
            text-transform: uppercase;
        }
        
        #personal-info {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-gap: 0.5rem 2rem;
            
            & > :nth-child(4n-2) {
                font-weight: 700;
            }
            
            & > :nth-child(4n-1) {
                text-decoration: underline;
                color: #3476d6;
                font-style: italic;
                font-size: 10pt;
                cursor: pointer;
                user-select: none;
            }
            
            & > :nth-child(4n) {
                grid-column: 1 / span 3;
                display: flex;
                height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: all 0.2s;
                
                :first-child {
                    flex-grow: 1;
                    margin-right: 0.5rem;
                }
                
                &.open {
                    margin: 0.5rem 0px;
                    height: auto;
                    opacity: 1;
                    overflow: visible;
                }
            }
            
            #password {
                display: grid;
                grid-template-columns: 1fr;
                grid-column-gap: 0.5rem;
                position: absolute;
                
                &.open {
                    position: initial;
                }
            }
        }
    }
}
