.breadcrumbs :global(.breadcrumbs) {
    font-size: 10pt;
    color: var(--subject-text-color);
    
    a, span, i {
        &:not(:global(.dropdown-item)) {
            opacity: 0.7;
            transition: opacity 0.2s;
        }
    }
    
    :global(.crumb:hover) {
        a, span, i {
            &:not(:global(.dropdown-item)) {
                opacity: 0.9;
            }
        }
    }
    
    :global(.dropdown-items) {
        color: var(--text-color);
    }
}

.course-list {
    padding: 2rem;

    & > main {
        max-width: 40rem;
        padding: 2rem;
        box-sizing: border-box;
    }

    #courses-title {
        font-size: 32pt;
        color: var(--content-title-color);
        margin-bottom: 0.5rem;
    }
    
    a {
        text-decoration: none;
    }
    
    a > div {
        margin-top: 1rem;
    }
}
