#container {
    flex-grow: 1;
    display: flex;
    align-items: stretch;

    --subject-text-color: #fff;
    --secondary-subject-text-color: rgba(255, 255, 255, 0.7);
    --tertiary-subject-text-color: rgba(255, 255, 255, 0.5);

    p, a, span, b {
        &::selection {
            background: var(--color);
            color: var(--subject-text-color);
        }
    }

    #info {
        position: relative;
        flex-basis: 0px;
        flex-grow: 1;
        max-width: 25rem;
        padding: 2rem;
        box-sizing: border-box;
        background: var(--color);
        display: flex;
        align-items: center;
        box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
        transition: background 0.5s;

        :global(.breadcrumbs) {
            position: absolute;
            top: 2rem;
            left: 2rem;
            font-size: 10pt;
            color: var(--secondary-subject-text-color);
            
            :global(.crumb:hover) {
                a, span {
                    &:not(:global(.dropdown-item)) {
                        color: var(--subject-text-color);
                    }
                }
            }
            
            :global(.dropdown-items) {
                color: var(--text-color);
            }
        }

        #label-subject {
            color: var(--tertiary-subject-text-color);
            font-weight: 900;
            font-size: 14pt;
        }

        #title {
            font-size: 32pt;
            color: var(--subject-text-color);
            margin: 0.2rem 0;
        }

        #description {
            color: var(--secondary-subject-text-color);
        }
    }

    #course-list {
        flex-basis: 0px;
        flex-grow: 2;

        & > div {
            max-width: 40rem;
            padding: 2rem;
            box-sizing: border-box;
        }

        #courses-title {
            font-size: 32pt;
            color: var(--title-color);
            margin-bottom: 0.5rem;
        }

        a {
            text-decoration: none;
        }
        
        .course-info {
            border: 1.5px solid var(--border-color);
            border-radius: 5px;
            margin-top: 1rem;
            padding: 1rem;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                border: 1.5px solid var(--color);
            }

            p {
                color: black;
            }

            #name {
                font-size: 16pt;
                font-weight: 700;
                margin-bottom: 0.3rem;
            }

            #description {
                color: #444;
            }
        }
    }
}
