.breadcrumbs :global(.breadcrumbs) {
    font-size: 10pt;
    color: var(--subject-text-color);
    
    a, span, i {
        &:not(:global(.dropdown-item)) {
            opacity: 0.7;
            transition: opacity 0.2s;
        }
    }
    
    :global(.crumb:hover) {
        a, span, i {
            &:not(:global(.dropdown-item)) {
                opacity: 0.9;
            }
        }
    }
    
    :global(.dropdown-items) {
        color: var(--text-color);
    }
}

.course-list {
    padding: 2rem;

    & > main {
        max-width: 40rem;
        padding: 2rem;
        box-sizing: border-box;
    }

    #courses-title {
        font-size: 32pt;
        color: var(--content-title-color);
        margin-bottom: 0.5rem;
    }

    a {
        text-decoration: none;
    }
    
    .course-info {
        border: 1.5px solid var(--border-color);
        border-radius: 5px;
        margin-top: 1rem;
        padding: 1rem;
        transition: border 0.3s;
        cursor: pointer;

        &:hover {
            border: 1.5px solid var(--subject-color);
        }

        #name {
            font-size: 16pt;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }

        #description {
            color: var(--secondary-text-color);
        }
    }
}
