.subjects {
    background: white;
    height: 100%;
    
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
        display: flex;
        align-items: center;
        
        .info {
            flex-basis: 0px;
            flex-grow: 1;
            
            .logo {
                height: 3rem;
                margin-bottom: 1rem;
            }
            
            p {
                font-size: 14pt;
            }
        }
        
        .courses {
            flex-basis: 0px;
            flex-grow: 1;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-end;
            
            & > * {
                margin-bottom: 1rem;
            }
            
            .subject {
                text-align: right;
                
                .title {
                    font-size: 18pt;
                    color: var(--color);
                    display: inline-block;
                    text-decoration: none;
                    
                    &::after {
                        content: '';
                        display: block;
                        background: var(--color);
                        width: 0px;
                        height: 2px;
                        margin: 0px auto;
                        transition: width 0.2s;
                    }
                    
                    &:hover::after {
                        width: 100%;
                    }
                }
                
                .course {
                    font-size: 12pt;
                    margin: 5px 0px;
                    color: var(--secondary-text-color);
                    text-decoration: none;
                    display: block;
                    transition: color 0.3s;
                    
                    &:hover {
                        color: var(--color);
                    }
                }
            }
        }
    }
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    box-sizing: border-box;
    width: 100vw;
    font-size: 10pt;
    
    span, a {
        color: var(--tertiary-text-color);
    }
}
