.table {
    border-collapse: collapse;
    width: 100%;
    
    &.floating {
        position: fixed;
        z-index: 30;
        top: 0px;
        left: 0px;
        
        tr:hover {
            background: transparent;
        }
    }
    
    i:global(.material-icons) {
        font-size: 90%;
        color: var(--secondary-text-color);
        transition: color 0.5s;
    }
    
    th {
        padding: 0.5rem;
    }
    
    td, th {
        vertical-align: middle;
        transition: color 0.5s;
        
        &:global(.rowHandle) {
            width: 1em;
            cursor: move;
        }
        
        &:global(.subjectId) {
            width: 10em;
        }
        
        &:global(.name) {
            width: 10em;
        }
        
        &:global(.description) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        &:global(.color) {
            width: 8em;
        }
    }
    
    thead {
        border-bottom: 1px solid var(--border-color);
        transition: border 0.5s;
    }
    
    tbody {
        tr {
            cursor: pointer;
            transition: background 0.2s;
            
            &:hover {
                background: var(--background-hover-color);
            }
        }
    }
    
    .input-text {
        box-sizing: border-box;
        padding: 0.5rem;
        border: none;
        border-radius: 0px;
        width: 100%;
        background: transparent;
    }
}

@keyframes fade-hover-in {
    from {
        background: transparent;
        box-shadow: none;
    }
    
    to {
        background: var(--background-color);
        box-shadow: 0px 0px 20px 0px var(--border-color);
    }
}

@keyframes fade-out-shadow {
    from {
        box-shadow: 0px 0px 20px 0px var(--border-color);
    }
    
    to {
        box-shadow: 0px 0px 0px 0px transparent;
    }
}

@keyframes move-up {
    from {
        transform: translateY(100%);
    }
    
    to {
        transform: translateY(0%);
    }
}

@keyframes move-down {
    from {
        transform: translateY(-100%);
    }
    
    to {
        transform: translateY(0%);
    }
}
