.testing {
    height: 100%;
    display: flex;
    
    .test-list {
        flex-basis: 20rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        
        a {
            padding: 1em;
            transition: background 0.2s;
            
            &:hover {
                background: var(--background-hover-color);
            }
            
            &.current {
                background: var(--background-active-color);
            }
            
            &:not(:last-child) {
                border-bottom: 1px solid var(--secondary-border-color);
            }
        }
    }
    
    .test {
        overflow: auto;
        height: 100%;
    }
}
