.course-card {
    width: 12em;
    height: 5em;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    .title {
        display: inline-block;
        font-size: 12pt;
        opacity: 0.7;
        font-weight: 900;
        margin-bottom: 5px;
    }
}
