.subject {
    width: max-content;
    border-left: 2px solid var(--color);
    padding-left: 10px;

    .title {
        font-size: 18pt;
        color: var(--color);
        display: inline-block;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            background: var(--color);
            width: 0px;
            height: 2px;
            margin: 0px auto;
            transition: width 0.2s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .course {
        font-size: 12pt;
        margin: 5px 0px;
        color: var(--secondary-text-color);
        text-decoration: none;
        display: block;
        transition: color 0.3s;

        &:hover {
            color: var(--color);
        }
    }
}
