.subject {
    width: 20em;
    border-left: 2px solid var(--color);
    padding-left: 10px;

    .title {
        font-size: 18pt;
        color: var(--color);
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none;
    }

    .course {
        font-size: 12pt;
        margin: 5px 0px;
    }
}
