@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --text-color: #000;
    --secondary-text-color: #666;
    --tertiary-text-color: #999;
}

body {
    margin: 0;
}

p, a, span, h1, h2, h3, h4, h5, h6, input, textarea, button, div {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

::selection {
    background: var(--text-color);
    color: white;
}

a {
    cursor: pointer;
}

i:global(.material-icons) {
    font-size: 120%;
    user-select: none;
}

input, textarea {
    padding: 10px;
    font-size: 12pt;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border: 1px solid #0478f1;
    box-shadow: 0px 0px 2px 0px #0478f1;
}

button, input[type='submit'] {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 12pt;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: black;
    background: transparent;
    border-radius: 5px;
    outline: none;
    transition: transform 0.2s;
    user-select: none;
    cursor: pointer;
    
    &:hover, &:focus {
        transform: scale(1.03);
    }
    
    &:active {
        background: rgba(0, 0, 0, 0.1);
    }
    
    &:global(.low) {
        background: #1691ea;
        color: white;
        border: none;
        
        &:active {
            background: #0056af;
        }
    }
    
    &:global(.med) {
        background: #e8e857;
        color: black;
        border: 1px solid #acac15;
    }
    
    &:global(.high) {
        background: #cb6055;
        color: white;
        border: none;
    }
}

label {
    cursor: text;
}
