@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --text-color: #000;
    --secondary-text-color: #666;
    --tertiary-text-color: #999;
}

body {
    margin: 0;
}

p, a, span, h1, h2, h3, h4, h5, h6, input, textarea, button, div {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

::selection {
    background: var(--text-color);
    color: white;
}

a {
    cursor: pointer;
}

i:global(.material-icons) {
    font-size: 120%;
    user-select: none;
}

input {
    padding: 10px;
    font-size: 12pt;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border: 1px solid #0478f1;
    box-shadow: 0px 0px 2px 0px #0478f1;
}

button, input[type='submit'] {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 12pt;
    background: #0478f1;
    border: none;
    color: white;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.2s;
    user-select: none;
}

button:hover, input[type='submit']:hover, button:focus, input[type='submit']:focus {
    box-shadow: 0px 0px 15px 0px rgba(4, 120, 241, 0.6);
    outline: none;
}

button:active, input[type='submit']:active {
    background: #0056af;
}

label {
    cursor: text;
}
