#container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    #breadcrumbs {
        flex-basis: 2em;
        height: 2em;
        
        .unit-label {
            font-size: 14pt;
            font-weight: 700;
        }
    }
    
    #article {
        width: 100%;
        height: 100%;
    }
}
