#container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    :global(.breadcrumbs) {
        margin: 1em 2em;
        font-size: 10pt;
        color: var(--secondary-text-color);
        
        :global(.dropdown-label):hover {
            color: var(--text-color);
        }
        
        :global(.dropdown-items) {
            color: var(--text-color);
        }
    }
    
    #article {
        width: 60vw;
        height: 100%;
        margin: 1em auto;
        
        * {
            font-family: 'PT Serif', serif;
        }
        
        #head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;
            
            #title {
                font-size: 32pt;
            }
            
            #date {
                font-size: 10pt;
                text-align: right;
                color: var(--secondary-text-color);
            }
        }
        
        #body {
            text-indent: 4em;
        }
    }
}
