.layout {
    #container {
        width: 100vw;
        max-width: 100em;
        height: 100vh;
        padding: 4em;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;

        #info-box {
            flex-basis: 0;
            flex-grow: 1;
        }

        #courses {
            flex-basis: 0;
            flex-grow: 2;

            display: flex;

            & > * {
                margin-right: 2em;
            }
        }
    }
}
