#container {
    flex-grow: 1;
    overflow: auto;
    
    & > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.5rem;
        
        h1 {
            font-size: 18pt;
        }
        
        & > * {
            margin-bottom: 0.5rem;
        }
    }
}
