#container {
    flex-grow: 1;
    overflow: auto;
    
    & > div {
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.5rem;
        
        h1 {
            font-size: 18pt;
        }
        
        & > * {
            margin-bottom: 0.5rem;
        }
        
        #modal-form {
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 10px;
            align-items: center;
        }
    }
}
