.panel-test {
    margin: 1rem;
    
    .panel-hidden {
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background: var(--background-color);
        transition: background 0.5s, border 0.5s;
    }
}
