.split-pane-test {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
    .dropdown {
        width: 12rem;
        margin-bottom: 1rem;
    }
    
    .split-pane {
        flex-basis: 0px;
        flex-grow: 1;
        overflow: hidden;
        
        .column:first-child {
            padding-right: 1rem;
            height: 100%;
            overflow: auto;
        }
        
        .column:last-child {
            padding-left: 1rem;
            height: 100%;
            overflow: auto;
        }
        
        p {
            text-indent: 2em;
            line-height: 1.5;
            margin-bottom: 1em;
        }
    }
}
